<head>
    <link rel="stylesheet" href="/static/css/auth.css">
</head>

<body>
    <div id="loginContainer">
        <!-- <div>
            <h1>Login</h1>
        </div>  -->
        <div id="loginForm">
            <form action="/auth/login" method="POST">
                <label class="loginLabel" for="auth-email">Email</label>
                <input class="loginInput" id="auth-email" type="email" name="email">
                <label class="loginLabel" for="auth-password">Password</label>
                <input class="loginInput" id="auth-password" type="password" name="password">
            
                <input id="loginBtn" type="submit" value="Log In">
            </form>
        </div>
    </div>
</body>