<head>
    <link rel="stylesheet" href="/static/css/auth.css">
</head>

<body>
    <header>
        <nav class="auth-nav">
            <div class="nav-container">
                <div class="left-link nav-link-container">
                    <a href="/" class="searchNav">Home</a>
                </div>
                <div class="right-link nav-link-container">
                    <a href="/auth/signup" class="searchNav">Sign Up</a>
                </div>
            </div>
        </nav>
    </header>

    <div id="login-container">
        <!-- laptop size -->
        <div id="large-login-form">
            <form action="/auth/login" method="POST">
                <label class="loginLabel" for="auth-email">Email</label>
                <input class="loginInput" id="auth-email" type="email" name="email">
                <label class="loginLabel" for="auth-password">Password</label>
                <input id="auth-password" type="password" name="password">
                <input id="loginBtn" type="submit" value="Log In">
            </form>
        </div>
        <!-- phone & tablet size -->
        <div id="small-login-form">
            <form action="/auth/login" method="POST">
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floatingEmail" name="email"
                        placeholder="name@example.com">
                    <label for="floatingEmail">Email</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floatingPassword" name="password"
                        placeholder="Password">
                    <label for="floatingPassword">Password</label>
                </div>
                <input id="login-btn" type="submit" value="Log In">
            </form>
        </div>
    </div>
    </div>

    <footer>
        <%- include('../partials/shortFooter') %>
    </footer>
</body>