<head>
    <link rel="stylesheet" href="/static/css/auth.css">
</head>

<body>
    <div id="loginContainer">
        <!-- <div>
            <h1>Login</h1>
        </div>  -->
        <div id="loginForm">
            <form action="/auth/login" method="POST">
                <label for="auth-email">Email</label>
                <input id="auth-email" type="email" name="email">
            
                <label for="auth-password">Password</label>
                <input id="auth-password" type="password" name="password">
            
                <input id="loginBtn" type="submit" value="Log In">
            </form>
        </div>
    </div>
</body>