<head>
    <link rel="stylesheet" href="/static/css/auth.css">
</head>

<body>
    <header>
        <nav class="auth-nav">
            <div class="nav-container">
                <div class="left-link nav-link-container">
                    <a href="/" class="searchNav">Home</a>
                </div>
                <div class="right-link nav-link-container">
                    <a href="/auth/login" class="searchNav">Login</a>
                </div>
            </div>
        </nav>
    </header>

    <main id="signup-container">
        <!-- laptop size -->
        <div id="large-signup-form">
            <form action="/auth/signup" method="POST">
                <div>
                    <label class="signupLabel" for="new-name">Name</label>
                    <input id="new-name" type="text" name="name">
                    <!-- </div> -->
                    <!-- <div> -->
                    <label class="signupLabel" for="new-email">Email</label>
                    <input id="new-email" type="email" name="email">

                    <label class="signupLabel" for="new-password">Password</label>
                    <input id="new-password" type="password" name="password">
                </div>
                <br>
                <div>
                    <input id="signupBtn" type="submit" value="Sign up">
                </div>
            </form>
        </div>
        <!-- phone & tablet size -->
        <div id="small-signup-form">
            <form action="/auth/login" method="POST">
                <div class="form-floating mb-3">
                    <input type="name" class="form-control" id="floating-name" name="name" placeholder="Jane Doe">
                    <label for="floatingName">Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" class="form-control" id="floating-email" name="email"
                        placeholder="name@example.com">
                    <label for="floating-email">Email</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control" id="floating-new-password" name="password"
                        placeholder="Password">
                    <label for="floating-new-password">Password</label>
                </div>
                <input id="signup-btn" type="submit" value="Sign Up">
            </form>
        </div>
    </main>

    <footer>
        <%- include('../partials/shortFooter') %>
    </footer>
</body>