<head>
    <link rel="stylesheet" href="/static/css/partials.css">
</head>

<footer id="longFooter" class="text-center text-lg-start text-muted">

    <br><br>

    <div id="footerRow">
        <section class="footerCol" id="firstCol">
            <div class="colTitile">
                <h6 class="colTitile">PAULINA LE</h6>
                <p>
                    I am a full stack software developer who strives to provide efficient and functional products. I am passionate about using technology to create a healthy space for users. My previous experience as a personal trainer has given me a creative outlook on how to approach different challenges and the patience to find effective solutions. 
                </p>
            </div>
        </section>
    
        <section class="footerCol">
            <div>
                <h6 class="colTitile">TECH STACK</h6>
                <p><i class="fas fa-home me-3"></i>Node.js</p>
                <p><i class="fas fa-home me-3"></i>Express.js</p>
                <p><i class="fas fa-home me-3"></i>PostgreSQL</p>
                <p><i class="fas fa-home me-3"></i>CSS/Bootsrap</p>
            </div>
        </section>
    
        <section class="footerCol">
            <div">
                <h6 class="colTitile">CONTACT</h6>
                <p>
                    paulinal3@outlook.com
                </p>
                <p>
                    <a href="https://paulinale.herokuapp.com" target="_blank" rel="noopener noreferrer">Portfolio</a>
                </p>
                <p>
                    <a href="https://www.linkedin.com/in/paulinal3/" target="_blank" rel="noopener noreferrer">Linkedin</a>
                </p>
                <p>
                    <a href="https://github.com/paulinal3" target="_blank" rel="noopener noreferrer">GitHub</a>
                </p>
            </div>
        </section>
    </div>

    <br>

    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        Created By: Paulina Le
    </div>
</footer>