<head>
    <link rel="stylesheet" href="/static/css/partials.css">
</head>

<div class="nav-container">
    <!-- phone size -->
    <div class="hamburger">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-list"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
        </svg>
    </div>
    <!-- tablet and laptop size -->
        <div class="left-link nav-link-container">
            <a href="/profile" class="nav-links">Profile</a>
        </div>
        <div class="middle-link nav-link-container">
            <!-- <a href="/workouts/newPlan" class="nav-links">Plan a Workout</a> -->
            <a href="/workouts/new" class="nav-links" id="log">Log Workout</a>
            <a href="/exercises/search" class="search-exercises nav-links">Search Exercises</a>
        </div>
        <div class="right-link nav-link-container">
            <a href="/auth/logout" class="nav-links">Logout</a>
        </div>
</div>

<aside class="hamburger-menu">
    <a href="/profile" class="nav-links">Profile</a>
    <a href="/workouts/new" class="nav-links" id="log">Log Workout</a>
    <a href="/exercises/search" class="search-exercises nav-links">Search Exercises</a>
    <a href="/auth/logout" class="nav-links">Logout</a>
</aside>

<script src="../static/js/app.js"></script>