<!-- display all logged workouts in a listed order my date (newest to oldest) -->

<h1>All Your Logged Workouts</h1>

<% results.forEach(result => { %>
    <h3>
        <a href="/workouts/details/<%= result.date %>">
        <%= result.date %>
        </a>
    </h3>
<% }) %> 