<head>
    <link rel="stylesheet" href="/static/css/workouts.css">
</head>

<div>
    <h5>Planned Workouts</h5>
    <% results.forEach(workout => { %>
        <% if(workout.completed === false) { %>
            <p>
                <%= workout.dataValues.scheduledDate %>: <%= workout.dataValues.type %> 
            </p>
        <% } %>
    <% }) %>
</div>