<h1>Log Your Latest Workout!</h1>
<form method="POST" action="/workouts/new">
    <h3>
        <label for="date">Date:</label>
        <input id="date" type="date" name="date">
    </h3>
    <h3>
        <label for="workoutType">Type of Workout:</label>
        <input id="workoutType" type="text" name="type">
    </h3>
    <h3>
        <label for="duration">Duration in Minutes:</label>
        <input id="duration" type="number" name=
        "duration">
    </h3>
    <input type="submit" value="Log Workout"></input>
</form>