<head>
    <link rel="stylesheet" href="/static/css/workouts.css">
</head>

<body>
    <header>
        <nav>
            <%- include('../partials/userNavBar') %>
        </nav>
    </header>

    <div id="logWorkoutTitle">
        <h1>Log Your Latest Workout!</h1>
    </div>
    <form method="POST" action="/workouts" enctype="multipart/form-data">
        <div id="logRow">
            <div id="firstCol">
                <label for="date">Date Completed:</label>
                <label for="workoutType">Type of Workout:</label>
                <label for="duration">Duration (minutes):</label>
                <label for="comments">Comments:</label>
                <label for="img">Upload a Photo: </label>
            </div>
            <div id="secondCol">
                <input id="date" type="date" name="date" required>
                <input id="workoutType" type="text" name="type">
                <input id="duration" type="number" name="duration">
                <input id="comments" type="text" name="comments">
                <input id="img" type="file" name="myFile">
            </div>
        </div>
        <div id="btnContainer">
            <input type="submit" value="Log Workout" id="logBtn"></input>
        </div>
    </form>
    </div>

    <footer class="shortFooter">
        <%- include('../partials/shortFooter') %>
    </footer>
</body>