<head>
    <link rel="stylesheet" href="/static/css/workouts.css">
</head>

<body>
    
</body>
<div class="row">
    <div class="col">
        <nav class="nav">
            <ul class="nav">
                <% if (!currentUser) { %>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/auth/signup">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/auth/login">Login</a>
                    </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/auth/logout">Logout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/profile">Profile</a>
                        </li>
            </ul>
            <% } %>
        </nav>
    </div>
    <div class="col">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/exercises/search">Search for Exercises</a>
            </li>
        </ul>
    </div>
</div>

<br>

<div class="text-center">
    <h1>Log Your Latest Workout!</h1>
    <form method="POST" action="/workouts/new">
        <div>
            <label for="date">Date Completed:</label>
            <input id="date" type="date" name="date">
        </div>
        <div>
            <label for="workoutType">Type of Workout:</label>
            <input id="workoutType" type="text" name="type">
        </div>
        <div>
            <label for="duration">Duration in Minutes:</label>
            <input id="duration" type="number" name=
            "duration">
        </div>
        <div>
            <label for="comments">Comments:</label>
            <input id="comments" type="text" name="comments">
        </div>
        <!-- <div>enctype="multipart/form-data"
            <input type="file" name="myFile">
        </div> -->
        <div>
            <input type="submit" value="Log Workout"></input>
        </div>
    </form>
</div>