<h1>Build a Workout</h1>

<h5>All Your Saved Exercises </h5>

<ul>
    <% exerciseSaves.forEach(exercise => { %>
        <li style="list-style-type:none">
            <% let name = exercise.name %>
            <% name.replace('', '%20') %>
            <a href="/exercises/saves/<%= exercise.id %>"><%= exercise.name %></a>
        </li>
    <% }) %> 
</ul>