<head>
    <link rel="stylesheet" href="/static/css/workouts.css">
</head>

<body>
    
</body>
<div class="row">
    <div class="col">
        <nav class="nav">
            <ul class="nav">
                <% if (!currentUser) { %>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/auth/signup">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/auth/login">Login</a>
                    </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/auth/logout">Logout</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/profile">Profile</a>
                        </li>
            </ul>
            <% } %>
        </nav>
    </div>
    <div class="col">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="/exercises/search">Search for Exercises</a>
            </li>
        </ul>
    </div>
</div>

<h3 class="text-center">Plan Your Next Workout!</h3>

<!-- <div class="row text-center">
    <div class="col">
        <h6>Exercise</h6>
    </div>
    <div class="col">
        <h6>Sets</h6>
    </div>
    <div class="col">
        <h6>Reps</h6>
    </div>
    <div class="col">
        <h6>Weight</h6>
    </div>
    <div class="col">
        <h6>Equipment</h6>
    </div>
</div>
<div class="row text-center">
    <div class="col">
        <input type="text">
    </div>
    <div class="col">
        <input type="number">
    </div>
    <div class="col">
        <input type="number">
    </div>
    <div class="col">
        <input type="number">
    </div>
    <div class="col">
        <input type="text">
    </div>
</div>
<div class="row text-center">
    <div class="col">
        <input type="text">
    </div>
    <div class="col">
        <input type="number">
    </div>
    <div class="col">
        <input type="number">
    </div>
    <div class="col">
        <input type="number">
    </div>
    <div class="col">
        <input type="text">
    </div>
</div>
<div class="row text-center">
    <div class="col">
        <input type="text">
    </div>
    <div class="col">
        <input type="number">
    </div>
    <div class="col">
        <input type="number">
    </div>
    <div class="col">
        <input type="number">
    </div>
    <div class="col">
        <input type="text">
    </div>
</div>
<div class="row text-center">
    <div class="col">
        <input type="text">
    </div>
    <div class="col">
        <input type="number">
    </div>
    <div class="col">
        <input type="number">
    </div>
    <div class="col">
        <input type="number">
    </div>
    <div class="col">
        <input type="text">
    </div>
</div>
<div class="row text-center">
    <div class="col">
        <input type="text">
    </div>
    <div class="col">
        <input type="number">
    </div>
    <div class="col">
        <input type="number">
    </div>
    <div class="col">
        <input type="number">
    </div>
    <div class="col">
        <input type="text">
    </div>
</div>
<div class="row text-center">
    <div class="col">
        <input type="text">
    </div>
    <div class="col">
        <input type="number">
    </div>
    <div class="col">
        <input type="number">
    </div>
    <div class="col">
        <input type="number">
    </div>
    <div class="col">
        <input type="text">
    </div>
</div> -->

<table class="table text-center">
    <thead">
      <tr>
        <th scope="col">Exercise</th>
        <th scope="col">Sets</th>
        <th scope="col">Reps</th>
        <th scope="col">Weight</th>
        <th scope="col">Equipment</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><input type="text"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td><input type="text"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td><input type="text"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td><input type="text"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td><input type="text"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td><input type="text"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="text"></td>
      </tr>
      <tr>
        <td><input type="text"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="number"></td>
        <td><input type="text"></td>
      </tr>
    </tbody>
  </table>

<form method ="" action="" class="text-center">
    <label for="">Name of Workout:</label>
    <input type="text">
    <label for="">Scheduled Date:</label>
    <input type="date">
    <br><br>
    <input type="submit" value="Add to Upcoming Workouts">
</form>