<!-- display logged workout details
    STRETCH GOALS add edit button?, upload photo?, add exercises? -->

    <h3>Workout completed on <%= date %> </h3>
    <h5>Completed a <%= type %> workout</h5>
    <h5>Worked out for <%= duration %> minutes</h5>