<head>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <div id='landing-page'>
        <header>
            <nav class="home-nav">
                <div id="title-container">
                    <h1>Heavy Things Tracker</h1>
                </div>
                <div id="auth-nav">
                    <% if (!currentUser) { %>
                        <a class="nav-link active" aria-current="page" href="/auth/signup">Sign Up</a>
                        <a class="nav-link active" aria-current="page" href="/auth/login">Login</a>
                        <% } else { %>
                            <div>
                                <a class="nav-link active" aria-current="page" href="/auth/logout">Logout</a>
                            </div>
                            <div>
                                <a class="nav-link active" aria-current="page" href="/profile">Profile</a>
                            </div>
                        <% } %>
                </div>
            </nav>
        </header>
        <main class="home-info">
            <div class="home-row" id="first-row-info">
                <div class="home-container" data-aos="fade-right">
                    <h3>What Is Heavy Things Tracker?</h3>
                    <h5>Looking for new exercises to add to your routine? </h5>
                    <h5>Need a place to keep a log of all the workouts you've completed?</h5>
                    <h5>Welcome to Heavy Things Tracker, an app to shake up your workout routines and log your workout history.</h5>
                    <h5>Track your workouts with ease!</h5>
                </div>
                <div class="home-container" data-aos="fade-left">
                    <h3>Who Is This For?</h3>
                    <h5>This is the perfect app for atheletes of all levels! If you have a body, you're an athlete!</h5>
                    <h5>Althletes who are looking to log their workou   t history.</h5>
                    <h5>Athletes looking to spice up their routine with new exercises</h5> 

                </div>
            </div>
        
            <div class="home-row" id="second-row-info">
                <div class="home-container" data-aos="fade-right">
                    <h3>Features:</h3>
                    <h5>Athletes can search over 1300 exercises based on muscle they want to target</h5>
                    <h5>Exercises vary over 9+ types of equipment and include a demo animation of how to complete the exercuse</h5>
                    <h5>Athletes can log all completed workouts to keep a log of their workout history</h5>
                    <h5>Athletes can upload workout and progress photos</h5>
                </div>
                <div class="home-container" data-aos="fade-left">
                    <h3>Coming Soon:</h3>
                    <h5>Mobile version is underway. Get started today with the website, then sync your completed workout data when the app is released!</h5>
                    <h5>V2 will also come with the new feature of planning and scheduling upcoming workouts!</h5>
                </div>
            </div>
        </main>
    </div>

    <section id="search-container">
        <form method="GET" action="/exercises">
            <div class="search-div">
                <label for="exercise name input" id="search-label">Search By Muscle You Would Like to Target:</label>
    
                <br> <br>
    
                <select name="bodyPart" id="muscle-targeted">
                    <option value="waist">Abs</option>
                    <option value="back">Back</option>
                    <option value="upper%20arms">Biceps & Triceps</option>
                    <option value="lower%20legs">Calves</option>
                    <option value="chest">Chest</option>
                    <option value="lower%20arms">Forearms</option>
                    <option value="upper%20legs">Legs</option>
                    <option value="shoulders">Shoulders</option>
                </select>
                <input id="search-btn" type="submit" value="See Results!">
            </div>
        </form>    
    </section>

    <footer class="long-footer">
        <%- include('partials/longFooter') %>
    </footer>
</body>