<nav>
    <a href="exercises/search">Search for Exercises</a>
    <a href="workouts/new">Log a Workout</a>
    <a href="workouts/history">Workout History</a>
</nav>
<h2><%= currentUser.name %>'s Profile</h2>