<body>
    <nav>
        <div class="navContainer">
            <div class="newSearchLink">
                <a href="/auth/logout" class="profileNav">Logout</a>
            </div>
            <div class="logLink">
                <a href="/workouts/newPlan" class="profileNav">Plan a Workout</a>
                <a href="/workouts/new" class="profileNav">Log a Workout</a>
                <a class="profileNav" href="/exercises/search">Search for Exercises</a>
            </div>
        </div>
    </nav>

</body>

<br>

<div class="row">
    <div class="col">
        <h2 id="profileName">
            <%= currentUser.name %>'s Profile
        </h2>
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <h5 class="profileListTitle"><a href="/workouts">Workout History</a></h5>
        <% results.forEach(workout => { %>
            <p class="profileListResults">
                <%= workout.date %>
                </a>
            </p>
        <% }) %> 
    </div>
    <div class="col">
        <h5 class="profileListTitle"><a href="/exercises/saves">Saved for Later Exercises</a></h5>
        <% saves.forEach(save => { %>
            <p class="profileListResults">
                <%= save.name %>
                </a>
            </p>
        <% }) %> 
    </div>
</div>
<div>
    <form enctype="multipart/form-data" action="/profile" method="POST">
        <input type="file" name="myFile">
        <input type="submit" value="Upload Photo">
    </form>
</div>