body {
    background-color: #E9FFFF;
    font-family: 'Poiret One', cursive;
}

.nav-container {
    display: flex;
    flex-direction: row;
    padding: 0px 25px 0 25px;
    background-color: rgba(0, 0, 0, 0.05);
    justify-content: space-between;
    padding-top: 0%;
    height: 50px;
}

.nav-container .nav-link-container {
    display: flex;
    align-items: center;
}

.nav-container .nav-link-container a {
    text-decoration: none;
    color: #008686;
    font-size: 20px;
}

.nav-container .nav-link-container a:hover {
    color: black;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/* <-------------------- LOGIN.EJS --------------------> */
#login-container {
    width: 100%;
}

#login-container #small-login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 20px;
    top: 50%;
    margin-top: -10px;
    text-align: center;
}

#login-container #small-login-form form {
    width: 80%;
}

#login-container #small-login-form #login-btn {
    height: 40px;
    width: 100%;
    font-size: 20px;
    background-color: #E9FFFF;
    color: #719294;
    border: 3px solid #719294;
    margin-top: 15px;
}

#login-container #large-login-form {
    display: none;
}

#login-container #small-login-form #login-btn:hover {
    background-color: #719294;
    color: #E9FFFF;
}

@media (min-width: 1200px) {
    #login-container #large-login-form {
        display: block;
    }

    #login-container #small-login-form {
        display: none;
    }
}

@media (min-width: 1200px) {
#login-container, #signupContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: absolute;
    width: 100%;
    height: 20px;
    top: 50%;
    margin-top: -10px;
    text-align: center;
}



/* ---------- LOGIN.EJS ---------- */
#large-login-form {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.loginLabel, .signupLabel {
    font-size: 35px;
}

#auth-password, #new-password, #new-email, #new-name {
    height: 35px;
    width: 200px;
}

#loginBtn, #signupBtn {
    height: 40px;
    width: 125px;
    font-size: 20px;
    background-color: #E9FFFF;
    color: #719294;
    border: 3px solid #719294;
}

#loginBtn:hover, #signupBtn:hover {
    background-color: #719294;
    color: #E9FFFF;
}

/* ---------- SIGNUP.EJS ---------- */
}