* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E9FFFF;
    font-family: 'Poiret One', cursive;
}

.shortFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/* <-------------------- SEARCH.EJS --------------------> */
#search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 20px;
    top: 50%;
    margin-top: -10px;
    text-align: center;
}

#search-container .search-div {
    border: 3px solid #719294;
    /* border-radius: 5%; */
    width: 350px;
    padding: 25px 0px 25px 0px;
    background-color: rgba(0, 0, 0, 0.05);
}

#search-container .search-div select {
    height: 30px;
}

#search-container .search-div input {
    height: 30px;
    width: 100px;
    background-color: #E9FFFF;
    color: #719294;
    border: 2px solid #719294;
}

#search-container .search-div input:hover {
    background-color: #719294;
    color: #E9FFFF;
}

@media (min-width: 768px) {
    #search-container .search-div {
        padding: 25px 150px 25px 150px;
        width: 96%;
        margin-left: 2%;
    }

    #search-label {
        font-size: 35px;
        width: 100%;
    }

    #search-container .search-div select {
        font: 30px;
        height: 35px;
    }

    #search-container .search-div input {
        height: 35px;
        width: 125px;
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    #search-container .search-div {
        padding: 25px 150px 25px 150px;
        width: 100%;
        margin-left: 0%;
    }
}

/* <-------------------- INDEX.EJS --------------------> */
#res-header {
    text-align: center;
    padding: 25px 0 10px 0;
}

.exercise-res-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 15px;
    padding-bottom: 50px;
}

.exercise-res-container .exercise-res-row {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    width: 100%;
}

.exercise-res-container .exercise-res-row .res-list-container {
    border: 3px solid #719294;
    /* border-radius: 5%; */
    width: 90%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.05);
    overflow-y: scroll;
    padding: 10px 15px 0 15px;
}

.exercise-res-container .exercise-res-row .res-list-container h3 {
    text-align: center;
}

.exercise-res-container .exercise-res-row .res-list-container ul {
    padding-left: 1em;
}

.exercise-res-container .exercise-res-row .res-list-container li {
    list-style-type: none;
    text-transform: capitalize;
}

.exercise-res-container .exercise-res-row .res-list-container a {
    text-decoration: none;
    color: #008686;
}

@media (min-width: 768px) {
    .exercise-res-container .exercise-res-row {
        width: 75%;
    }
}

@media (min-width: 1200px) {
    .exercise-res-container {
        gap: 50px;
    }

    .exercise-res-container .exercise-res-row {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 50px;
        width: 90%;
    }

    .exercise-res-container .exercise-res-row .res-list-container li {
        font-size: 20px;
    }
}

/* <-------------------- SHOW.EJS --------------------> */
header .exercise-name {
    text-align: center;
    text-transform: capitalize;
    padding-top: 25px;
}

.exercise-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: 25px;
    gap: 20px;
    text-align: center;
    padding-top: 20px;
}

.exercise-body .exercise-info-container .exercise-info {
    padding-top: 20px;
}

.exercise-body #save-form {
    padding-bottom: 25px;
}

.exercise-body #save-btn {
    height: 50px;
    width: 200px;
    font-size: 25px;
    background-color: #E9FFFF;
    color: #719294;
    border: 3px solid #719294;
}

@media (min-width: 1200px) {
    header .exercise-name {
        padding-top: 50px;
    }

    .exercise-body {
        gap: 35px;
    }

    .exercise-body .exercise-info-container {
        display: flex;
        gap: 35px;
        width: 100%;
        justify-content: center;
    }

    .exercise-body .exercise-info-container .exercise-info {
        display: flex;
        flex-direction: column;
        border: 5px solid #719294;
        width: 30%;
        text-align: center;
        justify-content: center;
        padding-top: 0%;
    }

    .exercise-body #save-form #save-btn {
        height: 50px;
        width: 200px;
        font-size: 25px;
        background-color: #E9FFFF;
        color: #719294;
        border: 3px solid #719294;
    }

    .exercise-body #save-form #save-btn:hover {
        background-color: #719294;
        color: #D3F2E9;
    }
}

/* <-------------------- INDEXSAVES.EJS --------------------> */
header #saved-header {
    text-align: center;
    padding: 25px 0 10px 0;
}

.saved-res-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 15px;
    padding-bottom: 50px;
}

.saved-res-container .saved-res-row {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    width: 100%;
}

.saved-res-container .saved-res-row .saved-list-container {
    border: 3px solid #719294;
    /* border-radius: 5%; */
    width: 90%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.05);
    overflow-y: scroll;
    padding: 10px 15px 0 15px;
}

.saved-res-container .saved-res-row .saved-list-container h3 {
    text-align: center;
}

.saved-res-container .saved-res-row .saved-list-container ul {
    padding-left: 1em;
}

.saved-res-container .saved-res-row .saved-list-container li {
    list-style-type: none;
    text-transform: capitalize;
}

.saved-res-container .saved-res-row .saved-list-container a {
    text-decoration: none;
    color: #008686;
}

@media (min-width: 768px) {
    .saved-res-container .saved-res-row {
        width: 75%;
    }
}

@media (min-width: 1200px) {
    .saved-res-container {
        gap: 50px;
    }

    .saved-res-container .saved-res-row {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 50px;
        width: 90%;
    }

    .saved-res-container .saved-res-row .saved-list-container {
        width: 30%;
    }

    .saved-res-container .saved-res-row .saved-list-container li {
        font-size: 20px;
    }
}

/* <-------------------- SHOWSAVES.EJS --------------------> */
.nav-container {
    display: flex;
    flex-direction: column;
    padding: 0px 25px 0 25px;
    background-color: rgba(0, 0, 0, 0.05);
    padding-top: 0%;
    height: 50px;
    justify-content: center;
}

.nav-container .hamburger {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.nav-container .nav-link-container {
    display: none;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    background-color: #E9FFFF;
    opacity: 0;
    transition: all 0.50s ease-in-out;
    transform: translateX(100%);
    font-size: 25px;
    padding-top: 25px;
    position: fixed;
    z-index: 12;
    width: 100%;
    height: 100vh;
}

.hamburger-menu.open {
    transform: translateX(0%);
    opacity: 1;
}

.hamburger-menu a {
    text-decoration: none;
    color: #008686;
}

.hamburger-menu a:hover {
    color: black;
}

@media (min-width: 768px) {
    .nav-container .hamburger {
        display: none;
    }

    .hamburger-menu {
        display: none;
    }
    
    .nav-container {
        display: flex;
        flex-direction: row;
        padding: 0px 25px 0 25px;
        background-color: rgba(0, 0, 0, 0.05);
        padding-top: 0%;
        height: 50px;
    }
    
    .nav-container .nav-link-container {
        display: flex;
        align-items: center;
    }

    .nav-container .nav-link-container a {
        text-decoration: none;
        color: #008686;
        font-size: 20px;
    }
    
    .nav-container .nav-link-container a:hover {
        color: black;
    }
    
    .nav-container .middle-link {
        display: flex;
        flex-direction: row;
        column-gap: 2%;
        width: 100%;
        justify-content: center;
        align-content: center;
    }
}

header .saved-exercise-name {
    text-align: center;
    text-transform: capitalize;
    padding-top: 25px;
    font-size: 20px;
}

.saved-exercise-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    font-size: 25px;
    gap: 20px;
    text-align: center;
    padding-top: 20px;
}

.saved-exercise-body .saved-exercise-info-container .exercise-info {
    padding-top: 20px;
}

.saved-exercise-body #unsave-btn {
    height: 50px;
    width: 200px;
    font-size: 25px;
    background-color: #E9FFFF;
    color: #719294;
    border: 3px solid #719294;
}

@media (min-width: 1200px) {
    header .saved-exercise-name {
        padding-top: 50px;
    }

    .saved-exercise-body {
        gap: 35px;
    }

    .saved-exercise-body .saved-exercise-info-container {
        display: flex;
        gap: 35px;
        width: 100%;
        justify-content: center;
    }

    .saved-exercise-body .saved-exercise-info-container .exercise-info {
        display: flex;
        flex-direction: column;
        border: 5px solid #719294;
        width: 30%;
        text-align: center;
        justify-content: center;
        padding-top: 0%;
    }

    .saved-exercise-body #save-form #unsave-btn {
        height: 50px;
        width: 200px;
        font-size: 25px;
        background-color: #E9FFFF;
        color: #719294;
        border: 3px solid #719294;
    }

    .saved-exercise-body #save-form #unsave-btn:hover {
        background-color: #719294;
        color: #D3F2E9;
    }
}