* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E9FFFF;
    font-family: 'Poiret One', cursive;
}

nav {
    background-color: rgba(0, 0, 0, 0.05);
    height: 35px;
}

.navContainer {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    text-decoration: none;
    justify-content: space-between;
}

.profileLink, .newSearchLink {
    padding-left: 10px;
}

.searchLink {
    padding-right: 10px;
}

.searchNav:link {
    text-decoration: none;
}

.searchNav:hover {
    color: black;
}

#addedSpace {
    margin-top: 100px;
}

.shortFooter {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/* <-------------------- SEARCH.EJS --------------------> */
#search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 20px;
    top: 50%;
    margin-top: -10px;
    text-align: center;
}

#search-container .search-div {
    border: 3px solid #719294;
    /* border-radius: 5%; */
    width: 350px;
    padding: 25px 0px 25px 0px;
    background-color: rgba(0, 0, 0, 0.05);
}

#search-container .search-div select {
    height: 30px;
}

#search-container .search-div input {
    height: 30px;
    width: 100px;
    background-color: #E9FFFF;
    color: #719294;
    border: 2px solid #719294;
}

#search-container .search-div input:hover {
    background-color: #719294;
    color: #E9FFFF;
}

@media (min-width: 768px) {
    #search-container .search-div {
        padding: 25px 150px 25px 150px;
        width: 96%;
        margin-left: 2%;
    }

    #search-label {
        font-size: 35px;
        width: 100%;
    }

    #search-container .search-div select {
        font: 30px;
        height: 35px;
    }

    #search-container .search-div input {
        height: 35px;
        width: 125px;
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    #search-container .search-div {
        padding: 25px 150px 25px 150px;
        width: 100%;
        margin-left: 0%;
    }
}

/* <-------------------- INDEX.EJS --------------------> */
@media (min-width: 1200px) {
    #resHeader {
        text-align: center;
        padding: 25px 0 10px 0;
    }

    #firstRowRes, #secondRowRes, #thirdRowRes {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 20px 0 20px 0;
    }

    .resListContainer {
        border: 2px solid #719294;
        width: 30%;
        height: 300px;
        overflow-y: scroll;
        background-color: rgba(0, 0, 0, 0.05);
        padding-top: 10px;
    }

    /* .resList {
    list-style-type: none;
    text-transform: capitalize;
    font-size: 20px;
} */

    .equipmentTitle {
        text-align: center;
    }

    li {
        font-size: 20px;
    }

    #indexFooter {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    }

    /* ---------- SHOW.EJS ---------- */
    .exerciseName {
        text-align: center;
        text-transform: capitalize;
        padding: 25px 0 10px 0;
    }

    .exerciseBody {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-transform: capitalize;
        font-size: 25px;
        gap: 20px;
    }

    .exerciseInfo {
        display: flex;
        flex-direction: column;
        border: 5px solid #719294;
        width: 35%;
        text-align: center;
    }

    .info {
        padding-top: 20%;
    }

    #saveForm, .showForm {
        margin-top: 35px;
        display: flex;
        justify-content: center;
    }

    #saveBtn, #unsaveBtn {
        height: 50px;
        width: 200px;
        font-size: 25px;
        background-color: #E9FFFF;
        color: #719294;
        border: 3px solid #719294;
    }

    #saveBtn:hover, #unsaveBtn:hover {
        background-color: #719294;
        color: #D3F2E9;
    }

    /* ---------- INDEXSAVES.EJS ---------- */
    #savedTitle {
        text-align: center;
        padding: 25px 0 10px 0;
    }

    #firstRow {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 20px 0 20px 0;
    }

    #secondRow {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin: 20px 0 20px 0;
    }

    #thirdRow {
        display: flex;
        justify-content: center;
    }

    #chest, #back, #legs, #shoulders, #arms, #calves, #abs {
        border: 3px solid #719294;
        width: 30%;
        height: 250px;
        overflow-y: scroll;
        background-color: rgba(0, 0, 0, 0.05);
        padding-top: 10px;
    }

    .muscleTitle {
        text-align: center;
    }

    .exerciseDetails:link {
        text-decoration: none;
        text-transform: capitalize;
        font-size: 20px;
    }

    li {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        text-transform: capitalize;
        color: #008686;
    }
}