/* ---------- USERNAVBAR.EJS ---------- */
.middleLink {
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    width: 100%;
    justify-content: center;
    align-content: center;
}

/* ---------- LONGFOOTER.EJS ---------- */
#long-footer #footer-row {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#long-footer #footer-row .col-info-container p {
    padding: 0px 25px 0px 25px;
}

#long-footer #footer-row .footer-col a {
    text-decoration: none;
    color: #008686;
}

@media (min-width: 768px) {
    #long-footer #footer-row {
        flex-direction: row;
        justify-content: space-around;
    }

    #long-footer #footer-row .col-info-container p {
        text-align: left;
    }

    #long-footer #footer-row #first-col {
        width: 400px;
    }

    h6 {
        margin-bottom: 20px;
    }
}