/* ---------- USERNAVBAR.EJS ---------- */
.middleLink {
    display: flex;
    flex-direction: row;
    column-gap: 2%;
    width: 100%;
    justify-content: center;
    align-content: center;
}

/* ---------- LONGFOOTER.EJS ---------- */
#longFooter {
    background-color: rgba(0, 0, 0, 0.05);
}

#footerRow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#firstCol {
    width: 400px;
}

h6 {
    margin-bottom: 20px;
}