* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #E9FFFF;
    font-family: 'Poiret One', cursive;
}

/* <-------------------- HOME.EJS --------------------> */
#landing-page {
    background: linear-gradient(rgba(31, 108, 94, 0.65), rgba(31, 44, 108, 0.65)), rgba(0, 0, 0, 0.55);
    padding-bottom: 10%;
}

#title-container {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

#landing-page nav h1 {
    text-align: center;
    padding-top: 25px;
    font-size: 25px;
    color: whitesmoke;
}

#auth-nav {
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.1);
    margin-top: 1%;
}

#landing-page nav a {
    color: whitesmoke;
}

@media (min-width: 768px) {
    #landing-page {
        padding-bottom: 75px;
    }
}

@media (min-width: 1200px) {
    #landing-page {
        background-image: url(https://integrisok.com/-/media/Blog/18-July-Aug-Sept-Oct-Nov/Woman-lifting-weights.ashx?as=1&mh=405&mw=720&revision=31ef0144-e01a-4c2d-9e19-60ac0f0045bd&hash=FC96853DAE3BDFCA08403EF90C9B1E20);
        background: linear-gradient(rgba(31, 108, 94, 0.65), rgba(31, 44, 108, 0.65)), rgba(0, 0, 0, 0.55) url("https://integrisok.com/-/media/Blog/18-July-Aug-Sept-Oct-Nov/Woman-lifting-weights.ashx?as=1&mh=405&mw=720&revision=31ef0144-e01a-4c2d-9e19-60ac0f0045bd&hash=FC96853DAE3BDFCA08403EF90C9B1E20") no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        color: white;
        box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        /* height: 100vh; */
        padding-bottom: 100px;
    }

    #landing-page nav h1 {
        font-size: 30px;
        color: whitesmoke;
        text-align: center;
        width: 100%;
        top: 0%
    }

    #auth-nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        font-size: 20px;
        margin-top: 0%;
        position: absolute;
        width: 100%;
        margin-top: -50px;
        background-color: rgba(255, 255, 255, 0);
    }
}

.home-info .home-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home-info .home-container {
    border: 3px solid #719294;
    /* border-radius: 5%; */
    width: 90%;
    height: 300px;
    padding: 10px 15px 0 15px;
    background-color: rgba(255, 255, 255, 0.1);
    color: whitesmoke;
    margin-top: 5%;
}

.home-info .home-container h3 {
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
}

.home-info .home-container h5 {
    font-size: 14px;
    padding-top: 15px;
    text-align: left;
}

@media (min-width: 768px) {
    .home-info {
        padding-top: 25px;
    }

    .home-info .home-row {
        flex-direction: row;
        justify-content: center;
        text-align: center;
        padding: 0px -50px 0px -50px;
        margin-top: 5%;
        gap: 5%;
    }

    .home-info .home-container {
        width: 40%;
        height: 500px;
        padding: 10px 15px 0 15px;
        background-color: rgba(255, 255, 255, 0.1);
        color: whitesmoke;
        margin-top: 0%;
    }

    .home-info .home-container h3 {
        font-size: 25px;
        text-align: center;
    }

    .home-info .home-container h5 {
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    .home-info {
        padding-top: 0%;
    }

    .home-info .home-row {
        gap: 3%;
        margin-top: 3%;
    }

    .home-info .home-container {
        width: 45%;
        height: 400px;
        padding: 10px 50px 0 50px;
        background-color: rgba(255, 255, 255, 0.1);
        color: whitesmoke;
        margin-top: 0%;
    }

    .home-info .home-container h3 {
        font-size: 30px;
        text-align: center;
    }

    .home-info .home-container h5 {
        font-size: 23px;
    }
}

#search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 50vh;
    /* height: 20px;
    top: 50%;
    margin-top: -10px; */
    text-align: center;
    background-color: rgba(0, 0, 0, 0.05);
}

#search-container .search-div {
    /* border: 3px solid #719294; */
    /* border-radius: 5%; */
    width: 350px;
    padding: 25px 0px 25px 0px;
    /* background-color: rgba(0, 0, 0, 0.05); */
}

#search-container .search-div select {
    height: 30px;
}

#search-container .search-div input {
    height: 30px;
    width: 100px;
    background-color: #E9FFFF;
    color: #719294;
    border: 2px solid #719294;
}

#search-container .search-div input:hover {
    background-color: #719294;
    color: #E9FFFF;
}

@media (min-width: 768px) {
    #search-container .search-div {
        padding: 25px 150px 25px 150px;
        width: 96%;
        margin-left: 2%;
    }

    #search-label {
        font-size: 35px;
        width: 100%;
    }

    #search-container .search-div select {
        font: 30px;
        height: 35px;
    }

    #search-container .search-div input {
        height: 35px;
        width: 125px;
        font-size: 20px;
    }
}

@media (min-width: 1200px) {
    #search-container .search-div {
        padding: 25px 150px 25px 150px;
        width: 100%;
        margin-left: 0%;
    }
}

.long-footer {
    padding-top: 450px;
}

/* <-------------------- PROFILE.EJS --------------------> */
.nav-container {
    display: flex;
    flex-direction: column;
    padding: 0px 25px 0 25px;
    background-color: rgba(0, 0, 0, 0.05);
    padding-top: 0%;
    height: 50px;
    justify-content: center;
}

.nav-container .hamburger {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.nav-container .nav-link-container {
    display: none;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    background-color: #E9FFFF;
    opacity: 0;
    transition: all 0.50s ease-in-out;
    transform: translateX(100%);
    font-size: 25px;
    padding-top: 25px;
    position: fixed;
    z-index: 12;
    width: 100%;
    height: 100vh;
}

.hamburger-menu.open {
    transform: translateX(0%);
    opacity: 1;
}

.hamburger-menu a {
    text-decoration: none;
    color: #008686;
}

.hamburger-menu a:hover {
    color: black;
}

@media (min-width: 768px) {
    .nav-container .hamburger {
        display: none;
    }

    .hamburger-menu {
        display: none;
    }

    .nav-container {
        display: flex;
        flex-direction: row;
        padding: 0px 25px 0 25px;
        background-color: rgba(0, 0, 0, 0.05);
        padding-top: 0%;
        height: 50px;
    }
    
    .nav-container .nav-link-container {
        display: flex;
        align-items: center;
    }

    .nav-container .nav-link-container a {
        text-decoration: none;
        color: #008686;
        font-size: 20px;
    }
    
    .nav-container .nav-link-container a:hover {
        color: black;
    }
    
    .nav-container .middle-link {
        display: flex;
        flex-direction: row;
        column-gap: 2%;
        width: 100%;
        justify-content: center;
        align-content: center;
    }
}

header #profile-name {
    text-transform: capitalize;
    text-align: center;
    padding-top: 25px;
}

@media (min-width: 768px) {
    header #profile-name {
        margin-top: 25px;
        font-size: 50px;
        color: #52848A;
    }
}

@media (min-width: 1200px) {
    header #profile-name {
        padding-top: 25px;
    }
}

#home-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    margin-top: 15px;
}

#home-row .profile-container {
    border: 3px solid #719294;
    /* border-radius: 5%; */
    width: 90%;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.05);
    overflow-y: scroll;
    padding: 10px 15px 0 15px;
}

#home-row .profile-container h3 {
    text-align: center;
    text-decoration: none;
}

#home-row .profile-container a {
    text-decoration: none;
    color: #008686;
}

#home-row .profile-container a:hover {
    color: black
}

@media (min-width: 768px) {
    #home-row {
        gap: 50px;
    }

    #home-row .profile-container {
        height: 350px;
        width: 75%;
    } 
}

@media (min-width: 1200px) {
    #home-row {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 25px;
        gap: 50px;
    }

    #home-row .profile-container {
        width: 40%;
        height: 500px;
    }

    #home-row .profile-container li {
        list-style-type: none;
        text-transform: capitalize;
        font-size: 20px;
    }
}

.short-footer {
    margin-top: 50px;
}

@media (min-width: 768px) {
    .short-footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
    } 
}