body {
    background-color: #D3F2E9;
    font-family: 'Poiret One', cursive;
}

/* ---------- HOME.EJS ---------- */
.homeNav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-size: 25px;
}

.navContainer {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    text-decoration: none;
    justify-content: space-between;
}

.profileLink, .newSearchLink {
    padding-left: 10px;
}

.searchLink {
    padding-right: 10px;
}

#title {
    font-size: 65px;
    color: #52848A;
}

#firstRowInfo, #secondRowInfo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 -50px 0 -50px;
    margin-top: 15px;
    gap: 15px;
}

.homeContainer {
    border: 5px solid #719294;
    width: 45%;
    height: 150px;
}

footer {
    background-color: #52848A;
    text-align: center;
}

/* ---------- PROFILE.EJS ---------- */
/* .profileNav {
    
} */
#profileCol {
    border: 5px solid black;
}

#profileName {
    text-align: center;
    font-size: 50px;
    color: #52848A;
}

.profileListTitle {
    color: #52848A;
}

.profileListResults {
    font-family: 'Poiret One', cursive;
    font-size: 20px;
}
.savedList {
    font-family: 'Poiret One', cursive;
    text-transform: capitalize;
    font-weight: 900;
}

.indexSavesTitle {
    font-family: 'Poiret One', cursive;
}