body {
    background-color: #D3F2E9;
    font-family: 'Poiret One', cursive;
}

.navContainer {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    text-decoration: none;
    justify-content: space-between;
}

.profileLink, .newSearchLink {
    padding-left: 10px;
}

.searchLink {
    padding-right: 10px;
}

.profileNav:link {
    text-decoration: none;
    color: #D3F2E9
}

.profileNav:hover{
    color: black;
}






/* ---------- NEWPLAN.EJS ----------- */
#buildContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
}

#buildList {
    border: 2px solid #719294;
    height: 700px;
    width: 40%;
}

.overflow-auto {
    border: 2px solid #719294;
    overflow-y: scroll;
    height: 700px;
    width: 40%;
}

li {
    text-transform: capitalize;
}

.addBtn {
    font-size: small;
}

/* ---------- FEATURE BRANCH NEWPLAN.EJS ---------- */

#buildContainer {
    display: none;
}