<h1>Search for an Exercise!</h1>

<form method="GET" action="search">
    <label for="exercise name input">Search By Exercise Name:</label>
    <input type="text" name="exerciseName">
    <input type="submit" value="Find Exercise!">
</form>
