<h1>Looking For an Exercise?</h1>

<!-- <form method="GET" action="search/results">
    <label for="exercise name input">Search By Major Muscle Group:</label>
    <select name="category" id="muscleGroup">
        <option value="10">Abs</option>
        <option value="8">Arms</option>
        <option value="12">Back</option>
        <option value="14">Calves</option>
        <option value="11">Chest</option>
        <option value="9">Legs</option>
        <option value="13">Shoulders</option>
    </select>
    <!-- <input type="text" name="bodyPart"> -->
    <!-- <input type="submit" value="See Results!">
</form> -->

<form method="GET" action="search/results">
    <label for="exercise name input">Search By Muscle You Would Like to Target:</label>
    <select name="bodyPart" id="muscleTargeted">
        <option value="waist">Abs</option>
        <option value="back">Back</option>
        <option value="upper%20arms">Biceps & Triceps</option>
        <option value="lower%20legs">Calves</option>
        <option value="chest">Chest</option>
        <option value="lower%20arms">Forearms</option>
        <option value="upper%20legs">Legs</option>
        <option value="shoulders">Shoulders</option>
    </select>
    <!-- <input type="text" name="bodyPart"> -->
    <input type="submit" value="See Results!">
</form>

