<nav>
    <a href="/search">Back to Search</a>
</nav>
<h1>Results Based on Your Search:</h1>
<ul>
    <% results.forEach((result) => { %>
        <li>
            <a href="/search/<%= result.id %> "><%= result.name %></a>
        </li>
   <% }) %> 
</ul>