<nav>
    <a href="/exercises/search">Back to Search</a>
</nav>

<h1>Results Based on Your Search:</h1>
<ul>
    <% results.forEach((result) => { %>
        <li style="list-style-type:none">
            <% let name = result.name %>
            <% name.replace('', '%20') %>
            <a href="/exercises/<%= name %> "><%= result.name %></a>
        </li>
   <% }) %> 
</ul>