<nav>
    <a href="exercises/search">Back to Search</a>
</nav>
<h1>Results Based on Your Search:</h1>
<ul>
    <% results.forEach((result) => { %>
        <li>
            <a href="exercises/search/results/<%= result.name %> "><%= result.name %></a>
        </li>
   <% }) %> 
</ul>